## Copyright 
# Copyright header
snippet copyrighth
	// DreamWorks Animation LLC Confidential Information.
	// TM and (c) 2019 DreamWorks Animation LLC.  All Rights Reserved.
	// Reproduction in whole or in part without prior written permission of a
	// duly authorized representative is prohibited.
	//------------------------------------------------------------------------------
# Copyright footer
snippet copyrightf
	//------------------------------------------------------------------------------
	// TM and (c) 2019 DreamWorks Animation LLC.  All Rights Reserved.
	// Reproduction in whole or in part without prior written permission of a
	// duly authorized representative is prohibited.
##
## Misc
snippet sep
	//------------------------------------------------------------------------------
